<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Travel Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <div class="logo">
            <img src="logo-no-background.png" alt="Logo">
        </div>
        <nav class="nav">
            <ul class="nav-content">
                <li>
                    <a href="index.html"><i class="fas fa-home"></i></a>
                </li>
                <li>
                    <a href="https://github.com/StuKozola/Udacity-FrontEnd-Travel-App">
                        <i class="fab fa-github"></i></a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="travel-form">
        <h1 class="form-title">Let's Take a Trip!</h1>
        <div class="form">
            <form id="trip-entry" onsubmit="Client.handleTripEntry(event)">
                <label class="label location" for="location">Location</label>
                <input class="input-city" type="search" id="location" name="location" placeholder="Enter a city and country"
                    required>
                <label class="label start-date" for="start_date">Start Date</label>
                <input class="form start-date" type="date" id="start_date" name="start_date" required>
                <label class="label end-date" for="return_date">Return Date</label>
                <input class="form end-date" type="date" id="return_date" name="return_date" required>
                <button class="button add-trip" id="addBtn" type="submit">Add a Trip</button>
            </form>
        </div>
    </section>

    <!--- Modal for saving planned trips and selecting a hotel -->
    <div id="save-modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2 class="modal-city" id="modal-city">Boston, MA</h2>
            </div>
            <div class="modal-body">
                <img src="" alt="City Image" class="city-img" id="city-img">
                <h4>Departing: <i class="date" id="departure">April 6, 2023</i></h4>
                <h4>Returning: <i class="date" id="return">April 10, 2023</i></h4>
                <form id="hotel-selection">
                    <label for="hotel">Select a hotel:</label>
                    <select name="hotel" id="hotel">
                        <option value="none">None</option>
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <h3></h3>
                <button class="button cancel-trip" id="cancelBtn" type="submit">Cancel</button>
                <button class="button save-trip" id="saveBtn" type="submit">Save</button>
            </div>
        </div>
    </div>

    <!--- Card(s) for trips planned -->
    <section class="trip-container">
        <h2 class="trip-title">Planned Trips</h2>
        <div id="trip-details"></div>
    </section>

    <footer>
        <p>Project powered by <a href="">API</a></p>
    </footer>
</body>

</html>