.curr-temp  {
    float: right;
    margin-top: 50px;
}

#trip-details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.trip-title {
    margin-top: 2rem;
    margin-left: 1rem;
    color: #01342d;
}

.card {
    display: grid;
    grid-template-areas: 
        'img'
        'txt';
    background: white;
    box-shadow: 2px 2px 6px grey;
    max-width: 90%;
    margin: 0.5rem;
    min-width: fit-content;
}

.card-header {
    grid-area: img;
    z-index: 1;
  }

.card-img {
    display: flex;
    flex-direction: row;
}

.card-img img {
    grid-area: img;
    width: 100%;
    object-fit: cover;
}

.card-text {
    grid-area: txt;
    padding: 1rem;
}

.card:hover {
    box-shadow: 2px 2px 6px 2px grey;
}

/* The Delete Button */
.delete {
    color: white;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    left: -99%;
    width: 0px;
}

.delete:hover,
.delete:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.weather-icon {
    max-width: 100%;
}

.weather-icon-small {
    max-width: 40%;
}

table {
    position: relative;
    top: 10px;
    width: 100%;
    text-align: center;
}

tr:nth-child(1) td:nth-child(1),
tr:nth-child(1) td:nth-child(2),
tr:nth-child(1) td:nth-child(3),
tr:nth-child(1) td:nth-child(4),
tr:nth-child(1) td:nth-child(5) {
    padding-bottom: 7px;
}

tr:nth-child(2) td:nth-child(1),
tr:nth-child(2) td:nth-child(2),
tr:nth-child(2) td:nth-child(3),
tr:nth-child(2) td:nth-child(4),
tr:nth-child(2) td:nth-child(5) {
    padding-bottom: 7px;
}

tr:nth-child(3) td:nth-child(1),
tr:nth-child(3) td:nth-child(2),
tr:nth-child(3) td:nth-child(3),
tr:nth-child(3) td:nth-child(4),
tr:nth-child(3) td:nth-child(5) {
    padding-bottom: 7px;
}

tr:nth-child(3),
tr:nth-child(4) {
    font-size: .9em;
}

tr:nth-child(4) {
    color: #999;
}

// responsive layout for cards
@media(min-width: 1220px) {
    .card {
        display: grid;
        grid-template-areas: 
            'img txt'
            'img txt';
        background: white;
        box-shadow: 2px 2px 6px grey;
        max-width: 90%;
        margin: 0.5rem;
        min-width: fit-content;
    }

    .card-header {
        grid-area: img;
    }

    .card-text {
        grid-area: txt;
    }

    .card-img.img {
        grid-area: img;
        max-width: 50%;
        height: 100%;
        object-fit: cover;
    }
}

// responsive layout for cards small mobile
@media(max-width: 475px) {
    .curr-temp {
        font-size: 4em;
    }

    .form-title {
        font-size: 3rem;
    }
}