.curr-temp  {
    float: right;
    margin-top: 50px;
}

.fa {
    padding-right: 10px;
}

#trip-details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.trip-title {
    margin-top: 2rem;
    margin-left: 1rem;
    color: #01342d;
}

.card {
    display: grid;
    grid-template-areas: 
        'img img header header'
        'img img txt txt';
    background: white;
    box-shadow: 2px 2px 6px grey;
    max-width: 90%;
    margin: 0.5rem;
}

.card-header {
    grid-area: header;
    border: 1px solid red;
  }

.card-img {
    grid-area: img;
    width: 100%;
    object-fit: cover;
    border: 1px solid red;
}

.card-text {
    grid-area: txt;
    padding: 1rem;
    border: 1px solid red;
}

.card:hover {
    box-shadow: 2px 2px 6px 2px grey;
}

/* The Delete Button */
.delete {
    color: gray;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.delete:hover,
.delete:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.weather-icon {
    max-width: 100%;
}

.weather-icon-small {
    max-width: 40%;
}

table {
    position: relative;
    top: 10px;
    width: 100%;
    text-align: center;
}

tr:nth-child(1) td:nth-child(1),
tr:nth-child(1) td:nth-child(2),
tr:nth-child(1) td:nth-child(3),
tr:nth-child(1) td:nth-child(4),
tr:nth-child(1) td:nth-child(5) {
    padding-bottom: 7px;
}

tr:nth-child(2) td:nth-child(1),
tr:nth-child(2) td:nth-child(2),
tr:nth-child(2) td:nth-child(3),
tr:nth-child(2) td:nth-child(4),
tr:nth-child(2) td:nth-child(5) {
    padding-bottom: 7px;
}

tr:nth-child(3) td:nth-child(1),
tr:nth-child(3) td:nth-child(2),
tr:nth-child(3) td:nth-child(3),
tr:nth-child(3) td:nth-child(4),
tr:nth-child(3) td:nth-child(5) {
    padding-bottom: 7px;
}

tr:nth-child(3),
tr:nth-child(4) {
    font-size: .9em;
}

tr:nth-child(4) {
    color: #999;
}

/* responsive layout 
@media(min-width: 900px) {
    .card {
        flex-direction: row;
        margin: 3rem;
        padding: 0;
    }

    .card-text {
        padding: 2rem;
    }

    .card-img {
        max-width: 50%;
        height: 100%;
        object-fit: cover;
    }
}
*/