@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    flex-wrap: wrap;
}

.nav {
    display: inline-block;
    li {
        display: inline;
        padding: 2px;
    }
}

.logo img {
    width: 300px;
}

.fab, .fas {
    color: teal;
    font-size: 2rem;
}